.headerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 48px 0px 48px;
}

.accountButton {
  display: flex;
  align-items: center;
  margin-left: 24px !important;
  min-height: 40px;
}

.accountIcon {
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin-right: 12px;
}

.metamask {
  background-image: url('/connectors/icn-metamask.svg');
}
.imtoken {
  background-image: url('/connectors/icn-imtoken.svg');
}
.ledger {
  background-image: url('/connectors/icn-ledger.svg');
}
.coinbase {
  background-image: url('/connectors/coinbaseWalletIcon.svg');
}
.torus {
  background-image: url('/connectors/torus.jpg');
}
.trust {
  background-image: url('/connectors/trustWallet.png');
}

.themeSelectContainer {

}

.switchIcon {
  font-size: 1.5rem !important;
  margin-top: 0.2rem;
}

.backButton {
  flex: 1;
}

@media screen and (max-width: 900px) {
  .headerContainer {
    padding: 12px
  }
}
