.dialogContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.warningContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 540px;
}

.warningIcon {
  width: 140px !important;
  height: 140px !important;
  margin-bottom: 30px !important;
  font-size: 30px !important;
  fill: #646464 !important;
}

.title1 {
  font: normal normal normal 23px/36px Inter !important;
  letter-spacing: 0px !important;
}

.title2 {
  font: normal normal bold 29px/36px Inter !important;
  letter-spacing: 0px !important;
  margin-bottom: 36px !important;
}

.para1 {
  text-align: center;
  font: normal normal bold 20px/28px Inter !important;
  letter-spacing: 0px !important;
  margin-bottom: 33px !important;
}

.para2 {
  font: normal normal normal 16px/26px Inter !important;
  letter-spacing: 0px;
  color: #646464;
  margin-bottom: 32px !important;
}

.buttonsContainer {
  padding: 0px 24px;
}

.primaryButton {
  margin-bottom: 20px !important;
  background: transparent linear-gradient(180deg, #1C45F4 0%, #0F1DD3 100%) 0% 0% no-repeat padding-box !important;
  min-width: 457px !important;
}

.secondaryButton {

}

.buttonTextPrimary {
  font: normal normal bold 16px/19px Inter !important;
  letter-spacing: 0px !important;
  color: #FFFFFF !important;
  text-transform: none;
}

.buttonTextSecondary {
  font: normal normal bold 16px/19px Inter !important;
  letter-spacing: 0px  !important;
  color: #000 !important;
  text-transform: none;
}

@media screen and (max-width: 600px) {
  .warningContainer {
    max-width: 340px;
  }

  .para1 {
    font: normal normal bold 16px/28px Inter !important;
  }

  .warningIcon {
    height: 50px !important;
    margin-bottom: 30px !important;
  }

  .buttonTextPrimary {
    font: normal normal bold 16px/19px Inter !important;
  }

  .primaryButton {
    margin-bottom: 20px !important;
    background: transparent linear-gradient(180deg, #1C45F4 0%, #0F1DD3 100%) 0% 0% no-repeat padding-box !important;
    min-width: 320px !important;
  }
}

@media screen and (max-width: 360px) {
  .warningContainer {
    max-width: 260px;
  }

  .para1 {
    font: normal normal bold 15px/22px Inter !important;
  }

  .para2 {
    font: normal normal bold 13px/18px Inter !important;
  }

  .warningIcon {
    height: 40px !important;
    margin-bottom: 20px !important;
  }

  .buttonTextPrimary {
    font: normal normal bold 13px/16px Inter !important;
  }

  .primaryButton {
    margin-bottom: 20px !important;
    background: transparent linear-gradient(180deg, #1C45F4 0%, #0F1DD3 100%) 0% 0% no-repeat padding-box !important;
    min-width: 260px !important;
  }
}
