.container,
.containerDark {
  display: flex;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
}

.containerDark {
  background: #2b2e3c;
}

.copyContainer {
  max-width: 40vw;
  width: 100%;
  padding: 0 40px;
}

.copyCentered {
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  height: 100vh;
  width: 100%;
  max-width: 425px;
}

.listContainer,
.listContainerDark {
  flex: 1;
  align-items: flex-start;
  background: #f3f3f3;
  padding: 0px 24px 24px;
}

.listContainerDark {
  background: #23252e;
}

.cardsContainer {
  padding: 0px 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(33% - 20px));
  grid-auto-flow: dense;
  gap: 30px;
}

.chainListSpacing {
  margin-bottom: 21px !important;
}

.helpingUnderline {
  color: #2f80ed;
}

.helpingParagraph {
  margin-bottom: 30px !important;
  max-width: 320px;
}

.addNetworkButton {
  margin-top: 50px !important;
  width: fit-content;
}

.addRpcButton {
  margin-top: 12px !important;
  width: fit-content;
}

.socials {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.socialButton {
  display: flex;
  align-items: center;
}

.sourceCode {
  padding-left: 6px;
}

.version {
  padding-left: 30px;
}

.buttonLabel {
  text-transform: capitalize !important;
  font-weight: 500 !important;
}

.buttonText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1700px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fit, calc(50% - 15px));
  }
}

@media screen and (max-width: 1500px) {
  .container,
  .containerDark {
    grid-template-columns: 500px calc(100vw - 517px);
  }

  .copyContainer {
    max-width: 32vw;
  }

  .listContainer {
    padding: 0px;
  }

  .cardsContainer {
    padding: 0px 40px 40px;
  }
}

@media screen and (max-width: 1200px) {
  .container,
  .containerDark {
    display: flex;
    flex-direction: column;
  }

  .copyContainer {
    position: relative;
    top: 0px;
    min-height: 100vh;
    max-width: 100vw;
    padding: 0 16px;
  }

  .copyCentered {
    position: static;
    padding-bottom: 0px;
  }

  .listContainer {
    width: calc(100vw - 17px);
    padding: 0px;
  }

  .listContainerDark {
    width: calc(100vw - 17px);
    padding: 0px;
  }

  .socials {
    position: relative;
    margin-top: calc(2em + 10px);
    bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  .copyContainer,
  .socialButton,
  .version,
  .socials {
    max-width: 100vw;
  }
  .copyContainer {
    text-align: center;
  }
  .cardsContainer {
    padding: 0 20px 20px;
  }
  .helpingParagraph {
    margin: 10px !important;
    max-width: 100vw;
  }
  .copyCentered {
    align-items: center;
    max-width: 100vw;
  }

  .subTitle {
    padding: 0 10px;
  }
  .socials {
    justify-content: center;
  }
  .socialButton {
    text-align: center;
    justify-content: center;
  }
  .version {
    padding-left: 0;
  }
  .cardsContainer {
    grid-template-columns: 100%;
  }
  .listContainer,
  .listContainerDark {
    width: 100vw;
  }
}
