.container {
  display: grid;
  grid-template-columns: 700px calc(100vw - 717px);
  position: relative;
  box-sizing: border-box;
}

.containerDark {
  display: grid;
  grid-template-columns: 700px calc(100vw - 717px);
  position: relative;
  box-sizing: border-box;
  background: #2b2e3c;
}

.copyContainer {
  display: flex;
  flex-direction: column;
  position: sticky;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  top: 0;
}

.copyCentered {
  width: 425px;
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;
  padding-top: 24px;
  position: sticky;
  top: 0;
  background: linear-gradient(rgba(243, 243, 243, 1) 90%, rgba(243, 243, 243, 0) 100%);
  padding: 24px 80px 48px 80px;
  z-index: 1;
}

.headerContainerDark {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;
  padding-top: 24px;
  position: sticky;
  top: 0;
  background: linear-gradient(rgba(35, 37, 46, 1) 90%, rgba(35, 37, 46, 0) 100%);
  padding: 24px 80px 48px 80px;
  z-index: 1;
}

.listContainer {
  min-height: 100vh;
  width: 100%;
  align-items: flex-start;
  background: #f3f3f3;
  padding: 0px 24px 24px;
}

.listContainerDark {
  min-height: 100vh;
  width: 100%;
  align-items: flex-start;
  background: #23252e;
  padding: 0px 24px;
}

.cardsContainer {
  padding: 0px 80px;
  display: grid;
  grid-template-columns: calc(33% - 15px) calc(33% - 15px) calc(33% - 15px);
  gap: 30px;
  max-width: 1400px;
}

.chainListSpacing {
  margin-bottom: 21px !important;
}

.helpingUnderline {
  color: #2f80ed;
}

.helpingParagraph {
  margin-bottom: 30px !important;
  max-width: 320px;
}

.addNetworkButton {
  margin-top: 50px !important;
  width: fit-content;
}

.filterRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  flex: 1;
}

.searchContainer {
  margin-right: 24px !important;
}

.socials {
  margin-top: 50px;
}

.socialButton {
  display: flex;
  align-items: center;
}

.sourceCode {
  padding-left: 6px;
}

.version {
  padding-left: 30px;
}

.searchPaper {
  width: 100%;
}

.searchInputAdnornment {
  font-size: 14px !important;
  font-weight: bold !important;
}

.buttonLabel {
  text-transform: capitalize !important;
  font-weight: 500 !important;
}

.buttonText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1700px) {
  .cardsContainer {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media screen and (max-width: 1500px) {
  .container {
    grid-template-columns: 500px calc(100vw - 517px);
  }

  .containerDark {
    grid-template-columns: 500px calc(100vw - 517px);
  }

  .headerContainer,
  .headerContainerDark {
    padding: 24px 48px 48px 48px;
  }

  .cardsContainer {
    padding: 0px 48px 48px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .containerDark {
    display: flex;
    flex-direction: column;
  }

  .copyContainer {
    position: relative;
    top: 0px;
    min-height: 100vh;
  }

  .copyCentered {
    position: static;
    padding-bottom: 0px;
  }

  .listContainer {
    width: calc(100vw - 17px);
    padding: 0px;
  }

  .listContainerDark {
    width: calc(100vw - 17px);
    padding: 0px;
  }

  .socials {
    position: relative;
    margin-top: calc(2em + 10px);
    bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  .copyContainer,
  .socialButton,
  .version,
  .socials {
    max-width: 100vw;
  }
  .copyContainer {
    text-align: center;
  }
  .cardsContainer {
    padding: 0 20px 20px;
  }
  .helpingParagraph {
    margin: 10px !important;
    max-width: 100vw;
  }
  .copyCentered {
    max-width: 100vw;
  }
  .subTitle {
    padding: 0 10px;
  }
  .socialButton {
    text-align: center;
    justify-content: center;
  }
  .version {
    padding-left: 0;
  }
  .cardsContainer {
    grid-template-columns: 100%;
  }
  .listContainer,
  .listContainerDark {
    width: 100vw;
  }
  .headerContainer,
  .headerContainerDark {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
  }
}
