.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(33% - 20px));
  grid-auto-flow: dense;
  gap: 30px;
  max-width: 1400px;
}

.chainContainer,
.cardsContainer {
  padding: 0px 80px;
}

@media screen and (max-width: 1700px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fit, calc(50% - 15px));
  }
}

@media screen and (max-width: 1500px) {
  .cardsContainer,
  .chainContainer {
    padding: 0px 48px 48px;
  }
}

@media screen and (max-width: 600px) {
  .cardsContainer,
  .chainContainer {
    padding: 0 20px 20px;
  }

  .cardsContainer {
    grid-template-columns: 100%;
  }
}
